@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,300;0,400;1,200&display=swap');
/*  Reset CSS  */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
a { text-decoration:none; color:#000; }
img { border:0;}

#wrap {width:100%; font-family: 'Overpass', sans-serif;margin:0 auto; }
body {font-size:14px;}

/*header*/
#header { }
#header h1 {position:fixed; left:0; top:0;}


/*gnb 메뉴*/
#gnb {position:fixed; right:0; top:0;display:none;width:100%; height:50px; box-shadow:0px 2px 10px 0px  rgba(0, 0, 0, 0.8);background:#fff; z-index:200;}

#gnb>li{float:left;cursor:pointer; width:200px;height:35px; 
		text-align:center; padding-top:15px; font-weight:bold; right:0;}
#gnb li:nth-child(1) a img{width:80px; transform:rotate(-10deg); float:left; margin-left:50px;}
#sub {font-size:13px; line-height:25px; background:url(../img/back.png) 
		no-repeat;color:#fff;position:fixed;width:220px;top:50px; font-weight:normal;display:none;text-align:left; padding:40px 10px 10px 10px;}
#sub>li>a{color:#fff;padding:10px;} 
#sub>li>a:hover {text-decoration:underline;}


/*section1*/
.fadein li img{width:100%;position:absolute; left:0;top:0;}

/*section2*/
#section2 {width:100%;height:800px;position:absolute; top:800px;}
#section2 img:nth-child(1) {position:absolute; left:0; top:0; width:100%;}
#section2 img:nth-child(2) {position:absolute; left:-500px; top:55px;}
#section2 img:nth-child(2).on {position:absolute; left:50px; top:55px;}
#section2 a {width:320px; height:70px; position:absolute; right:50px; bottom:200px;color:#fff; text-align:center; box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.7); border:2px solid #fff; line-height:70px; text-align:center;font-size:16px; font-weight:bold; letter-spacing:2px;}
#section2 p {color:#fff; position:absolute; right:50px; bottom:30px; text-align:right;font-size:16px; font-weight:bold; letter-spacing:4px; line-height:50px; }

/*section3*/
#section3 {width:100%; height:800px; position:absolute; top:1600px;}
#section3 div:nth-of-type(1) {width:200px; height:5px; position:relative; background:#c14848; margin:80px auto;}
#section3 ul {}
#section3 ul li {position:relative; top:0; left:0; margin-left:200px; display:none;}
#section3 ul li img{position:relative;  float:left; width:400px; box-shadow:5px 5px 10px 0px rgba(0, 0, 0, 0.7); margin:20px; margin:0px 50px 0 50px;}
#section3 ul li a {width:260px; height:60px; background:#000; position:absolute;color:#fff; text-align:center; line-height:60px; font-weight:bold; letter-spacing:2px;}
#section3 ul li:nth-child(1) a {left:120px; top:310px; }
#section3 ul li:nth-child(2) a { left:620px; top:310px; }
#section3 ul li:nth-child(3) a { left:1120px; top:310px; }
#section3>a {width:260px; height:60px; color:#c14848; border:2px solid #c14848; position:absolute; left:43%; bottom:10%; text-align:center; line-height:60px; font-weight:bold; letter-spacing:2px;}

/*section4*/
#section4 {width:100%;height:800px; position:absolute; top:2400px;}
#section4 img:nth-of-type(1) {width:100%;}
#section4 div:nth-of-type(1) {margin:0 auto; font-weight:bold; font-size:2em; letter-spacing:3px; position:absolute; left:45%; top:20%; color:#fff;}
#section4 div:nth-of-type(2) {margin:0 auto; width:0%; height:1px; background:#fff;position:absolute; left:15%; top:28%;}
#section4 p:nth-of-type(1) {margin:0 auto;letter-spacing:3px; position:absolute; left:15%; top:40%; color:#fff; line-height:70px; font-weight:normal; font-size:16px; font-style:italic;}
#section4 .title {position:absolute; left:0; top:0; color:#fff; border-left:3px solid #fff; padding-left:10px;letter-spacing:3px; font-size:16px; font-weight:normal;font-style:italic;}
#section4 .title1 {left:50%; top:40%;}
#section4 .title2 {left:50%; top:60%;}
#section4 img:nth-of-type(2) {position:absolute; left:50%; top:45%;}
#section4 img:nth-of-type(3){position:absolute; left:50%; top:65%;}
#section4 .moveBar {position:absolute;left:50%;top:45%;width:168px; height:18px; background:#fff;}
#section4 .bar2 { position:absolute; left:50%;top:65%;}
#section4 .figure {position:absolute; left:50%; top:50%; color:#fff;font-style:italic;font-size:16px; letter-spacing:3px;}
#section4 .figure li {float:left; width:168px; text-align:center;}
#section4 .figure2 {top:70%;}

#footer {width:100%; height:100px; background:#353535; position:absolute; top:3198px;}
#footer ul {width:630px;margin:0 auto; text-align:center; margin-top:2%;}
#footer li {color:#fff; font-size:16px; font-style:italic; float:left; text-align:center;letter-spacing:2px;margin-left:10px;}
#footer li a{color:#fff; font-size:16px; font-style:italic; float:left; letter-spacing:2px;}
#footer li:nth-of-type(1) a {margin:0;}








